*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
  overflow: hidden;
}

.input_field {
  color: #6b6b6b;
  background-color: white;
  border: groove;
  font-size: 1.5vw;
  font-weight: 4;
  padding-left: 10px;
}

body {
  background-color: #CACFD2 ;
}

h3{
  margin-top: 2%;
  padding-bottom: 2%;
  height: fit-content;
  font-size: 2vw;
  text-align: center;
}

/*button {
  text-align: center;
   float: right;
   margin-top: 2px;
   margin-left: 40%;
   display: block;
   padding: 1%;
}*/

.frmButton{
  margin-top: 2px;
  margin-left: 41%;
  display: block;
  padding: 1%;
  font-family: 'Georgia';
  font-weight: bold;
  border: groove;
}

.frmButton:hover {
  background: #80d2ab;
  color: #F2F3EB;
}

#btnSubmit:hover {
  background: #FFFFFF;
  color: #062102;
}

#formProduct{
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid black;
  padding: 1%;
  background: white;
}

.FourInfo div{
    display: inline-block;
   
}

.FourInfo {
   margin-left: 4.7%;
}

.label {
  font-weight: bold;
}