*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    overflow: hidden;
    font-size: 1.4vw;
  }
  
  input {
    color: #6b6b6b;
    background-color: white;
    border: groove;
    font-size: 1.5vw;
    font-weight: 4;

  }

  .input_field{
    width: 20%;
  }
  
  body {
    background-color: #CACFD2 ;
  }
  
  h3{
    margin-top: 2%;
    padding-bottom: 2%;
    height: fit-content;
    font-size: 2.5vw;
    text-align: center;
  }
  
  .frmButton, .frmDelete{
    overflow: visible;
    text-transform: none;
    border: solid 2px black;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 8px 14px;
    transition: all 0.3s;
    background: none;
    color: white;
    text-align: center;
    border-radius: 15px;
  }

  .frmDelete{
    padding: 8px 16px;
  }

  #BtnSave, #BtnDelete{
    margin-left: .5vw;
    margin-right: .5vw;
  }
  
  #BtnSave:hover, #BtnDelete:hover {
    background: #929597;
    color: #062102;
  }

  button:disabled, button:disabled:hover{
    background-color: #929597;
    color: rgba(255,255,255,.5);
    border: solid 2px gray;
    cursor: default;
}
  
  #product-form{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    padding: 1%;
    background: white;
    border-radius: 15px;
  }
  
  .FourInfo div{
      display: inline-block;  
  }
  
  .FourInfo {
    text-align: center;
  }
  
  .TwoInfo div{
    display: inline-block;
  }
  
  .TwoInfo {
    margin-top: .7%;
    text-align: center;
    
  }

  .submit{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

  .TwoButton{
    margin-top: .7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .DelIcon{
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }